/* fonts imports */
@import url('../fonts/cfspaceship/stylesheet.css'); /* 'cfspaceship' */
@import url('../fonts/exo/exo-black/stylesheet.css'); /* 'exoblack' */
@import url('../fonts/exo/exo-regular/stylesheet.css'); /* 'exoregular' */
@import url('../fonts/exo/exo-thin/stylesheet.css'); /* 'exothin' */

.wrap {
	font-family:'exoregular',sans-serif;
}
.wrap p, .wrap li {
	font-family:Arial,sans-serif;
	line-height:2.2rem;
	font-size:1.6rem;
	max-width: 600px;

}
h1.title {
    padding: 0px 0px 0px 6px;
    font-family:'exoregular',sans-serif;
}
.wrap li {
	margin:20px 0;
}
.wrap nav li {
	margin:0;
}

h4.title {
    padding: 0px 0px 3px 10px;
    font-family:'exoregular',sans-serif;
    color:#a1a1a1;
}

.pic{
	max-width: 327px;
	float: right;
	padding: 0px 0px 0px 12px;
}

body{
	background-color: #FDFDFD;
}
.wrap {
	margin:0 auto;
	width:1000px;
}
